[submodule "vim/autoload/vim-pathogen"]
	path = vim/autoload/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim/bundle/delimitMate"]
	path = vim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/vim-sensible"]
	path = vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/gruvbox"]
	path = vim/bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "neovim/pack/vendor/start/oil.nvim"]
	path = neovim/pack/vendor/start/oil.nvim
	url = https://github.com/stevearc/oil.nvim
[submodule "neovim/pack/vendor/start/nvim-web-devicons"]
	path = neovim/pack/vendor/start/nvim-web-devicons
	url = https://github.com/nvim-tree/nvim-web-devicons
[submodule "neovim/pack/vendor/start/gitsigns.nvim"]
	path = neovim/pack/vendor/start/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim
[submodule "neovim/pack/vendor/start/nvim-lspconfig"]
	path = neovim/pack/vendor/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "neovim/pack/vendor/start/nvim-tree"]
	path = neovim/pack/vendor/start/nvim-tree
	url = https://github.com/nvim-tree/nvim-tree.lua.git
